@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
<!--Matthew Anderson-->
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*mobile Design*/
@media only screen and (min-width:320px) {
body{
    margin: 0 auto;
}
    h1{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 0px;
    background-color:#D74452;
    color:#DAD3B7;
    font-size:20px;

}

h1, h2, h3{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

p{
    font-family:'Comfortaa', cursive; 
}

#skip{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
    nav{
        position: absolute;
        top: 10;
        right: 0;
    }

nav ul{
    margin: 0;
    display: none;
}	

#toggle:checked~label~ul{
    display: block;
    position: fixed;
    top: 6ex;
    left: 0;
    width: 100vw;
    Background-color: #DAD3B7;
    z-index:9999;

}

#toggle:checked ~label{
    position: fixed;
    top: 0;
    left:0;
    height: 5ex;
    width: 100vw;
    padding: 0;
    padding-top: 1ex;
    background-color: #D74452;
    color:#2D838D;
    transition: all .2s;
}

#toggle:checked ~ label ~ ul li{
    border-bottom: 1px solid #D74452;
    padding: 4ex;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

label[for="toggle"]{
    display:block;
    padding: 10px;
    background:#D74452; 
}
#toggle{
    display: none;
}


#about h2{
   
        position: relative;
        top: 150px;
        text-align: center;
        color:#D74452;
        padding: 10px;
        background-color: #DAD3B7;
        z-index: 9999;
      
 }

 #about{
    background-image: url("images/Claire-Singara2.jpg");
    background-position: center;
    background-size: cover;
    padding: 150px;
    display: block;

 }
 #about p{
    color: #DAD3B7;
    position: relative;
    background-color:#D74452;
    padding: 10px;
    z-index: 9998;
    top:150px;
 }
 img{
    width: 80%;
    margin: auto;
 }

 #books section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
    align-content: center;
 }

#books h3{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

 form{
    display: grid;
 }
 #form{
    display: grid;
    font-family:'Comfortaa', cursive;
    font-weight: bold;
 }
 .tickets{
    padding: 10px;
    border: solid black;
    margin: 20px;
 }

}

@media only screen and (min-width:700px) {
}


@media only screen and (min-width:1020px) {
}
    